# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.env/
ENV/
env/

# Log and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS/desktop trash
Thumbs.db
ehthumbs.db
Desktop.ini

# GitHub Pages or Jekyll build folders
_site/

# Ignore drafts or local notes
*.draft.md
